

#parent {
  /*display: inline-flex; */
  width: 100%;
  height: 40%;
}
#chargeplot {
  width: 100%;
  min-width: 200px
}
#mwpcplot {
  width: 100%;
  min-width: 200px
}

#vistar {
	width: 100%
}

.image {
	width: 100%
}



@media only screen and (min-width: 800px){
	#parent { 
  		display: flex;
  		flex:1 1 auto;

	}
	#chargeplot {
	  width: 50%
	}
	#mwpcplot {
	  width: 50%
	}

	#vistar {
		align-items: flex-start;
		width: 100%;
		display: flex;
  		flex:1 1 auto;
	}
	.image {
		width: 50%
	}

}

@media screen and (orientation:landscape) {
	#parent { 
  		display: flex;
  		flex:1 1 auto;

	}
	#chargeplot {
	  width: 50%
	}
	#mwpcplot {
	  width: 50%
	}

	#vistar {
		width: 100%;
		display: flex;
  		flex:1 1 auto;
	}
	.image {
		width: 50%
	}
}