<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta charset="utf-8">

		<!-- <link href="../static/css/main.css" rel="stylesheet" type="text/css" /> -->

		<!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
		<!--[if lt IE 9]>
					<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
				<![endif]-->

				<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}"> -->
		{% block head %}
		<title>{% block title %} NA Heavy ion experiment monitor{% endblock %}</title>
		{% endblock %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="../static/js/mwpc.js"></script>

		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>

		<link href = "../static/main.css" rel=stylesheet>
		<script>
			refresh();
		</script>
	</head>

	<body>
		<!-- <ul class="navigation">
		  <li><a href="http://elogbook.cern.ch/eLogbook/eLogbook.jsp?lgbk=508">R2E LogBook</a></li>
		  <li><a href="http://elogbook.cern.ch/eLogbook/eLogbook.jsp?lgbk=50">SPS Logbook</a></li>
		  <li><a id="last" href="#">Shifter tel: +41 754 166 802</a></li>
		</ul> -->

		<div id="parent">
			<div id="chargeplot"></div>
			<div id="mwpcplot"></div>
			
		</div>
		<div id="vistar" name='vistar'>
			<img id="vistarImg" class="image" style="background-image: url(&quot;https://vistar-capture.web.cern.ch/vistar-capture/sps1.png?0.3909378021425335&quot;); display: inline;" src="https://vistar-capture.web.cern.ch/vistar-capture/sps1.png?0.5316667075678919">
			<img id="plan" class="image" style="display: inline;" src="static/plan.png">
		</div>

		
	</body>
</html>